body {
  margin: 0;
  background: rgb(61, 79, 139);
  background-image: url("./background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  width: 30%;
  margin: auto;
}

#search-bar {
  width: 100%;
  background: rgb(61, 79, 139);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  margin: 0;
  padding: 3px;
  width: fit-content;
  min-width: max-content;
  display: none;
}

#form {
  margin: 0;
  margin-left: 2em;
  padding: 10px;
  width: 380px;
  min-width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#label {
  font-size: 1.5rem;
}

#city-input {
  border: none;
  width: 200px;
  height: 30px;
  font-size: 1.2rem;
}

#search-btn {
  bottom: 2px;
  border: dodgerblue 2px solid;
  background: whitesmoke;
  color: dodgerblue;
  font-size: 0.9rem;
  height: 2.1rem;
  width: 4.5rem;
  min-width: fit-content;
}

#search-btn:hover {
  border: whitesmoke 2px solid;
  background: dodgerblue;
  color: whitesmoke;
}

#display {
  margin-top: 50px;
  min-width: 300px;
  background: rgb(61, 79, 139);
  color: whitesmoke;
  transition: opacity 1s;
}

.not-ready {
  opacity: 0;
}

.ready {
  opacity: 0.8;
}

.disp {
  width: 100%;
  text-align: center;
  clear: both;
}

#country {
  display: inline;
  width: 10%;
  margin-left: 30%;
}

#flag {
  width: 70px;
  height: auto;
  display: block;
  float: right;
  position: relative;
  bottom: 0;
  margin-right: 25%;
}

#icon {
  display: block;
  width: 200px;
  margin: auto;
}

@media (min-width: 768px) {
  #logo {
    display: block;
  }

  #search-bar {
    justify-content: flex-start;
  }
}
